.dongle {
  font-family: 'Dongle';
}
.jua {
  font-family: 'Jua';
}
.brush {
  font-family: 'Nanum Brush Script';
}
.pen {
  font-family: 'Nanum Pen Script';
}
.notosanskr {
  font-family: 'Noto Sans KR';
}
