.tilt-slider {
  position: relative;

  transition: transform 125ms ease-out;

  .drag1,
  .drag2 {
    position: absolute;

    top: 0;
    bottom: 0;

    width: 12.5%;
    min-width: 50px;
    max-width: 100px;

    cursor: grab;

    -webkit-user-drag: none;
    user-select: none;

    &:active {
      cursor: grabbing;
    }
  }
  .drag1 {
    left: 0;
  }
  .drag2 {
    right: 0;
  }

  .drag-area {
    opacity: 0;

    backdrop-filter: invert(35%) sepia(1) saturate(1.5) hue-rotate(90deg) contrast(1.5) opacity(0.75);
    border-radius: calc(infinity * 1px);

    transform: scale(1.1, 1.5);

    transition: opacity 250ms ease-in;
  }

  &:hover .drag-area {
    opacity: 1;
  }

  .progress {
    -webkit-user-drag: none;
    user-select: none;
  }
}
