@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Jua&family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&display=swap');

.dongle {
  font-family: 'Dongle';
}
.jua {
  font-family: 'Jua';
}
.brush {
  font-family: 'Nanum Brush Script';
}
.pen {
  font-family: 'Nanum Pen Script';
}
.notosanskr {
  font-family: 'Noto Sans KR';
}
